@charset "UTF-8";

/* COMMON */
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

label {
    cursor: default;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.button {
    -webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    position: relative;
    padding: 14px 32px;
    border-width: 2px;
    line-height: 1;
    cursor: pointer;
    background-color: #2196f3;
    color: #fefefe;
}

.button.full-width {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

a {
    color: #2196f3;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

#forget {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}

/* BACKGROUND */
.container{
	background:#b3c6ff;
	
}

/* HEADER */
.login-card{
	background-color: #ffffff;
	margin: 50px auto;
	width: 480px;
	height: 520px;
	border-radius: 3px;
	border: 1px solid #e5e9f2;
	margin-bottom: 32px;
}

.login-card_header {
    padding: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
}	

.login-card_logo{
	    /* width: 161px; */
    height: 32px;
   /*  background-size: contain;
    background-repeat: no-repeat; */
    background-position: center;
    margin-bottom: 12px;
}

.login-card_title{
	font-size: 18px;
    font-weight: 500;
    color: #2196f3;
    text-transform: uppercase;
}

/*  CONTENT */

.login-card_content{
    padding: 24px 32px 16px 32px;
}

.login-card_button{
	text-decoration: none;
}

.login-card_social{
	text-align: center;
}

.login-card_facebook_logo{
	border-radius: 5px;
    width: 30%;
    height: 48px;
    cursor: pointer;
}

.login-card_twitter_logo{
	border-radius: 5px;
    width: 30%;
    height: 48px;
    cursor: pointer;
}

.login-card_google_logo{
	border-radius: 5px;
    width: 30%;
    height: 48px;
    cursor: pointer;
}

.login-card_divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 24px;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 12px;
}

.login-card_divider::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    height: 1px;
    background-color: #e5e9f2;
}

.login-card_divider-text {
    font-size: 12px;
    color: #989fa4;
    background-color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

form {
    display: block;
    margin-top: 0em;
}

.dashboard-form_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-bottom: 12px;
}

.dashboard-form_label {
    margin-bottom: 2px;
    line-height: 1.8;
    min-height: 1.8em;
    text-transform: uppercase;
    color: #bdbdbd;
    font-weight: 500;
    font-size: 12px;
}

.dashboard-form_input {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 12px 16px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.login-card_password {
    position: relative;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.login-card_tooltip {
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    color: #212121;
    letter-spacing: 0;
    line-height: 14px;
    background: url(../image/question.png) no-repeat center center/contain;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 14px;
}

.login-card_tooltip-content {
    position: absolute;
    top: -78px;
    left: -88px;
    border-radius: 4px;
    background: #ffffff;
    width: 180px;
    text-align: center;
    padding: 11px 8px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    visibility: hidden;
    
}

.login-card_tooltip-content:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 7px solid rgba(0,0,0,0.15);
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-box-shadow: -3px 3px 3px -1px rgba(0,0,0,0.15);
    box-shadow: -3px 3px 3px -1px rgba(0,0,0,0.15);
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
}

.login-card_tooltip:hover .login-card_tooltip-content {
    	visibility: visible;
}


/* FOOTER */

.login-card_footer {
    padding: 16px 32px;
    border-top: 1px solid #eeeeee;
    font-size: 16px;
    text-align: center;
}

.container_fotter{
	width: 100%;
    text-align: center;
}
}