<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="activityMapper">


	<update id="updateActivity">
	
	update wl_member 
	
	<set>
	
	<if test="behavior =='like'">activity=activity+1,</if>
	<if test="behavior =='insertReply'">activity=activity+2,</if>
	<if test="behavior =='insertBoard'">activity=activity+3,</if>
	<if test="behavior =='insertLecture'">activity=activity+10,</if>
	<if test="behavior =='checkAnswer'">activity=activity+2,</if>
	
	
	</set>
	where user_Id=#{userId}
	
		
	</update>

</mapper>	


















































