@charset "UTF-8";
/* COMMON */

a:link, a:visited  {
	color : #4c90f6;
}

/* TABLE */
.container-board{
	width: 100%;
	display: inline-block;
}
.container-reply{
	width: 100%;
	display: inline-block;
}
.title{
	color: #ffffff;
	background: #fbc403;
	height: 60px;
	line-height: 60px;
	padding-left: 15px;
	font-size: 19px;
	font-weight: bold;
}
.title-text{
	display: inline-block;
}
.title-no{
	display: inline-block;
	float: right;
	padding-right: 30px;
}
.image-heart{
	width: 25px;
	margin-right: 5px;
	margin-bottom: -6px;
}
.boardTable{
	background: #ffffff;
  margin: 0 auto 30px auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e5e9f2;
  box-shadow: 1px 2px 12px -3px #cccccc;
  border-collapse: collapse;
}

.table-center{
	border-bottom: 1px solid #e5e9f2;
	height: 80px;
}


/* TCENTER */

.table-title{
	width: 60%;
	max-width: 280px;
	display: inline-block;
	line-height: 80px;
	margin-left: 20px;
	font-size: 23px;
	font-weight: bold;
}

.userList{
	text-align: center;
	display: inline-block;
}

#image_profile{
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.userList-info{
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}

.userId{
	font-size: 20px;
	/* display: inline-block; */
	max-width: 75px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
}

.activity{
	color: #999999;
	display: inline-block;
	font-size: 15px;
	margin-right: 10px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.data{
	color: #ccc;
    display: block;
    font-size: 10px;
}

.timeago{
	display: inline-block;
	color: #ccc;
	font-size: 15px;
}


/* PAGeeee */

.move-page{
	margin: 70px 30px 0 30px;
    font-weight: 500;
    text-align: center;

}

.move-page li{
	list-style-type: none;
    display: inline-block;
}


.page-pre{
	margin-right: 16px;

}

.page-next{
	margin-left: 16px;
}

.page-pre span {
	width:12px;
	height:12px;
	display:inline-block;
	border-top:2px #4d4d4d solid;
	border-left:2px #4d4d4d solid;
	transform:rotate(-45deg);
}

.page-next span {
	width:12px;
	height:12px;
	display:inline-block;
	border-top:2px #4d4d4d solid;
	border-right:2px #4d4d4d solid;
	transform:rotate(45deg);
}

.page-pre .page_jump:hover span, .page-next .page_jump:hover span{
	border-color: #00a0d2;

}

#image_nextPage{
	width: 25px;

}

.page-first, .page-last{
    border-color: #00a0d2;
    color: #00a0d2;
    background: #fff;
   	width: 60px;
   	height: 50px;
    line-height: 50px;
    border: 2px solid #4d4d4d;
    border-radius: 5px;

}

.page-active{
    color: #00a0d2;
    background: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 2px solid #4d4d4d;
    border-radius: 5px;
    margin: 5px;

}

.number_page{
	width: 100%;
    height: 100%;
    display: inline-block;
}

.page-active_now{
    color: #ffffff;
    background: #00a0d2;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin: 5px;

}


.page-active:hover, .page-first:hover, .page-last:hover{
	border-color: #00a0d2;
}

.page-active:hover a, .page-first:hover a, .page-last:hover a{
    color: #00a0d2;
}

a{
	text-decoration: none;

}
