@charset "UTF-8";
/* COMMON */

.page-active_now a:link{
	color:#ffffff;
}

a:link, a:visited  {
	color : #4d4d4d;
}

/* TOP MENU */

.input-blue{
	height: 30px;
    border-left-width: 4px;
    border-left-color: #88d2f1;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding-left: 5px;
}

.titleName{
	font-size: 35px;
	color: #404040;
	font-weight: bold;
}

#image_title{
	width: 70px;
	height: 70px;
	vertical-align: middle;
}

.pageMove_button{
	text-align:right;
}

.pageMove_button a img {width:60px; height:60px; margin-left:15px;}

/* SEARCH */

.search_menu{
	margin: 30px 0px 10px 0px;
    width: 100%;
    height: 50px;
}

.search_button{
	font-size: 0.8em;
	width: 40%;
	display: inline-block;
	padding:10px 10px;
	font-size: 15px;
}

.search_button a{
	margin-right: 10px;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.search_button a:hover {
	border-radius: 13px;
	background: #25b7d3;
	padding: 5px 8px 5px 8px;
	font-weight: bold;
	color: #ffffff;
	font-size: 15px;
}

.search_section{
	width: 55%;
	float: right;
	text-align: right;
    display: inline-block;
}

.search_section::next {
	clear:both;
}

#search_bar {
  border-radius: 10px 0px 0px 10px;
  background: #f2f2f2;
  padding: 10px 0px 10px 10px;
  font-weight: bold;
  color: #666666;
  border: 0px;
  width: 50%
}

#search_button {
  border-radius: 0px 8px 10px 0px;
  background: #1a91a1;
  padding: 10px 10px 10px 10px;
  color: #ffffff;
  border: 0px;
	margin-left: -7px;
}

#search_bar:focus {
	outline:none;
}

/* TABLE */
.boardTable td{
 position:relative;
}
.boardTable tr {
	height:90px;
	border-bottom: 1px solid #e5e9f2;
}


/* TCENTER */

.boardTitleSet{
	position: absolute;
	float: left;
	max-width: 250px;
	padding-left: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.boardTitleSet h2 {
	margin:0;
	padding-left:5px;
	text-overflow: ellipsis;
  overflow: hidden;
}


.boardCntSet{
  width: 35%;
	min-width: 190px;
  float:right;
  text-align: right;
  margin: 0px;
	line-height:90px;
}
.boardCntSet>span {
	border-radius: 13px;
	padding: 5px 8px 5px 8px;
	font-size: 1em;
	color: #ffffff;
	margin-left: 5px;
}
.boardCntSet>span img{width:20px; vertical-align: middle;}
.like{ background: #ed1c24; }
.like img{ margin: -3px -10px 0 0; }

.comment{	background: #25b7d3;}
.comment img{ margin:-4px -9px 0 2px; }

.hit{	font-size: 0.8em !important; color:#666 !important; padding-left:0;}
.hit img{ width: 15px !important; margin: -2px -7px 0 0; }

.data{
	color: #ccc;
    display: block;
    font-size: 10px;
}

.timeago{
	display: inline-block;
  color: #ccc;
  font-size: 10px;
	text-align: left;
}


/* PAGeeee */

.move-page{
	margin: -30px 30px 0 30px;
  font-weight: 500;
  text-align: center;
	-webkit-padding-start: 0;
}

.move-page li{
	list-style-type: none;
  display: inline-block;
	height: 46px;
  width: 46px;
  line-height: 46px;
  border-radius: 5px;
  margin: 2px;
}

.page-pre{
	margin-right: -1px !important;
	border:none !important;
}
.page-next{
	margin-left: -1px !important;
	border:none !important;
}

.page-pre span {
	width:12px;
	height:12px;
	display:inline-block;
	border-top:2px #4d4d4d solid;
	border-left:2px #4d4d4d solid;
	transform:rotate(-45deg);
}

.page-next span {
	width:12px;
	height:12px;
	display:inline-block;
	border-top:2px #4d4d4d solid;
	border-right:2px #4d4d4d solid;
	transform:rotate(45deg);
}

.page-pre .page_jump:hover span, .page-next .page_jump:hover span{
	border-color: #00a0d2;

}

#image_nextPage{
	width: 25px;

}

.page-first, .page-last{
  color: #00a0d2;
  background: #fff;
  border-color: #4d4d4d !important;
}

.page-active{
    color: #00a0d2;
    background: #fff;
    border-color:#4d4d4d !important;
}

.number_page{
	width: 100%;
    height: 100%;
    display: inline-block;
}

.page-active_now{
	color: #ffffff;
	background: #00a0d2;
	border-color:#00a0d2 !important;
}


.page-active:hover, .page-first:hover, .page-last:hover{
	border-color: #00a0d2 !important;
}

.page-active:hover a, .page-first:hover a, .page-last:hover a{
  color: #00a0d2;
}


@charset "UTF-8";


.container-board{
  margin: 30px auto 0 auto;
  width: 60%;
  min-width: 650px;
  height: auto;
}

/* HEAD */

.board-head{
	padding: 20px 20px 10px 20px;

}

.board-head:next {
	clear:both;
}

.data{
	color: #ccc;
    display: block;
    font-size: 10px;
}

.comment-hit{
	float : right;
	margin : 10px;
}
.comment-hit>span {
	border-radius: 13px;
	padding: 5px 8px 5px 8px;
	font-size: 0.7em;
	margin-left: 10px;
}
.comment-hit img{
	width: 12px;
	margin-bottom: -1px;
}
.article-comment{
	background: #25b7d3;
	color: #ffffff;
}
.article-hit{
	background: #cccccc;
	color: #665b66;
}




/* BOARD TITLE */

.board-content{
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
}

.content-body{
	position: relative;
    border-right: 1px solid #e5e9f2;
    width: 80%;
    margin: 15px;
    display:inline-block;
}

.content-tag{
	margin-left:20px;
}

.board-number{
	color: #999999;
	font-size: 12px;
	margin-bottom: 10px;
}

.content-title {
	margin-left:20px;
	margin-top:5px;
	font-size: 2.3em;
}

.content-text{
    overflow-x: auto;
    min-height: 180px;
    margin: 30px 15px 30px 0px;
    word-break: break-all;
    word-wrap: break-word;
}

.code-text{
	word-break: normal;
    word-wrap: normal;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 11px;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #e5e9f2;
    border-radius: 4px;

}

.content-function{
	width: 80px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
	padding-top: 16px;
}
.content-function>div { margin-top: 20px;}

.function-like{
	position: relative;
}

.image_empty-heart{
	width: 55px;
	cursor: pointer;
}

.cntBoardLike{
	font-size: 1em;
	position: absolute;
	font-weight: bold;
	left: 51%;
	top: 45%;
	transform: translate(-50%, -50%);
	color: #572cff;
	cursor: pointer;
}

.function-edit{
	border-radius: 5px;
  background: #25b7d3;
  padding: 5px 7px;
  display: inline-block;
  cursor: pointer;
}

#image_edit{
	width: 30px;
	cursor: pointer;

}
.function-facebook{
	border-radius: 5px;
  background: #3564a3;
  padding: 3px 7px 5px 7px;
  cursor: pointer;
	display:inline-block;
}

.image_facebook{
	width: 30px;
	cursor: pointer;
}

.board-btn-up,
.board-btn-down{
	width:20px;
	height:20px;
	display:block;
	cursor: pointer;
	margin:5px auto;
}
.board-qna-likes{
	font-size: 1em;
  font-weight: bold;
  color: #572cff;
  cursor: pointer;
}

/* TO LIST */

.move-boardList{
	  width: 60%;
	  margin: 0 auto;
	  text-align: right;
}


/* REPLY WRITE*/


.write_button{
	text-align: right;
	position: absolute;
	bottom: 20px;
	right: 4%;
}

#image_write{
	width: 30px;
}



/* REPLY WRITE*/


.reply-textWrite{
    margin: 30px auto 30px auto;
    width: 60%;
    min-width: 650px;
    position: relative;
    text-align: center;
}

.reply_writeText{
	background: #ffffff;
    width: 100%;
    border: 5px solid #25b7d3;
    border-collapse: collapse;
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
    font-size: 15px;
    padding-right: 15%;
    resize: none;
    overflow: hidden;
}

.image_write{	width: 50px; }


/* HEAD */


.userList{ width:100%; }
.board-head .userList {
	margin-left: 20px;
	float: left;
	width: 50%;
	margin-bottom: 20px;
}

.userList-info{
	display: inline-block;
	vertical-align: middle;
}
.userList>img{
	vertical-align: middle;
	width: 40px;
	border-radius: 50%;
}

.userId{
	font-size: 20px;
  float:left;
  line-height:20px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

.activity{
	color: #999999;
	float: right;
	font-size: 0.8em;
	line-height: 20px;
	margin-bottom: 2px;
	margin-left: 5px;
	padding-top: 2px;
}

.data{
	color: #ccc;
  display: block;
  font-size: 10px;
}

.reply_function{
  	background: #ffffff;
  	padding: 10px 15px 10px 15px;
  	font-size: 25px;
  	display: inline-block;
  	margin-top: 100px;
	position: relative;
}

.reply_function-like{
	width: 35px;
	cursor: pointer;
}

.reply_cntLike{
	font-size: 0.8em;
  font-weight: bold;
  display: block;
  color: #585858;
  cursor: pointer;
  margin-top: -5px;
}


/* TO LIST */

.move-boardList{
	  width: 60%;
    min-width:650px;
	  margin: 30px auto;
	  text-align: right;
}

#image_list{
	width: 60px;
}


/* REPLY */

.board-footer{
  margin: 20px auto;
  width: 60%;
  min-width: 650px;
}

.reply-title{
	padding: 15px;
	background: #25b7d3;
	border-radius: 3px 3px 0 0;
}

.footer_comment{
 	padding: 0px 8px 5px 8px;
 	font-size: 25px;
  	color: #ffffff;
  	margin-left: 10px;

}

#footer_image_reply{
	width: 25px;
	margin-right: 10px;
	margin-bottom: -3px;
}

.reply-center{
	margin-bottom: 20px;
  transition: all 0.4s ease 0s;
}
.reply-highlight {
	box-shadow: 0 0 15px -1px #0c7dc7;
	background-color:white;
	transform:scale(1.02, 1.02);
	border-radius: 15px;
}

.reply-body{
	position: relative;
    border-right: 1px solid #e5e9f2;
    width: 80%;
    margin: 15px;
    display:inline-block;

}

.reply-head {
	padding: 15px 15px;
}

.edit-delete{
	float : right;
	margin : 10px;
	margin-top: -40px;
}

.image_replyEdit{
	width: 25px;
	padding: 10px;
}


.image_eraser{
	width: 25px;
	padding: 10px;
}


.reply-text{
	margin: 15px;
	word-break: break-all;
}

.reply-function{
	width: 80px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 40px;
  position: relative;
}


/* REPLY EDIT*/



.replyEdit_writeText{
	background: #ffffff;
    width: 95%;
    border: 5px solid #25b7d3;
    border-collapse: collapse;
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
    font-size: 15px;
    padding-right: 15%;
    resize: none;
    overflow: hidden;
}


.edit_done{
	display: none;
}

.modifyCancel{
	display: none;
}

.image_replyEditDone{
	width: 26px;
	padding: 5px;
	margin-left: 20px;

}


.image_replyCancel{
	width: 20px;
	padding: 7px;
}
.cke_chrome {
	width: 95% !important;
  margin: 0 auto !important;
	border:none !important;
}
.container-body {
    background: #ffffff;
    margin: 72px auto 100px auto;
    width: 60%;
    min-width: 650px;
    height: auto;
    border: 2px solid #e5e9f2;
    box-shadow: 2px 2px 2px #cccccc;
    border-collapse: collapse;
    border-radius: 5px;
}

.title{
	color: #25b7d3;
  height: 40px;
  margin: 10px;
  font-size: 1.5em;
  font-weight: bold;
}
.text_title, .text_tag{
	border: 0px;
	border-left: 5px solid #25b7d3;
	height: 100%;
	width: 80%;
	padding: 2px 10px;
	font-size: 0.9em;
	margin-left: 15px;
}
div.tag{
    color: #00b386;
		height: 30px;
	  margin: 10px;
		margin-top:15px;
	  font-size: 1.5em;
	  font-weight: bold;
}
.text_tag{
  border-left: 5px solid #00b386 !important;
	margin-left: 21px;
}

hr {
	width: 95%;
	margin-bottom: 30px;
	border: 0;
	border-top: 1px solid #e5e9f2;
}

.content_text{
	background: #ffffff;
  width: 90%;
  border: 5px solid #25b7d3;
  border-collapse: collapse;
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
  font-size: 15px;
  padding-right: 15%;
  resize: none;
  overflow: hidden;
}

.image_check{
	cursor:pointer;
	width: 50px;
    margin-right: 20px;
}

.image_cancel{
	cursor:pointer;
	width: 40px;
	padding-bottom: 5px;

}

.body-head {
    padding: 20px;
}


.content_text{
	background: #ffffff;
  width: 90%;
  border: 5px solid #25b7d3;
  border-collapse: collapse;
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
  font-size: 15px;
  padding-right: 15%;
  resize: none;
  overflow: hidden;
}

.container-footer{
	padding: 20px;
	text-align: right;
	margin-top: 50px;
}
.question-titleName{
	font-size: 35px;
    color: #404040;
    font-weight: bold;
    border-left: 5px solid #14a7cc;
    padding-left: 15px;
}

.question-textarea {
	font-size:1.2em;
	width:100%;
	border:none;
	resize: none;
	line-height:2em;
	color:#565656;
}
.question-textarea:focus {outline: none;}

.quiz-result-label {
	font-size:1em !important;
	margin: 5px 20px;
}
.quiz-result-input {
	font-size: 1em;
	width: 94% !important;
	padding: 15px 3%;
	border-radius: 7px;
	border: 1px solid #e5e9f2;
	background-color: #fff;
	border-collapse: collapse;
}
.quiz-result-input:focus {outline: none;}

.lecture-order-input {
	height: 40px;
	border: none;
	font-size: 1em;
	text-align: right;
	color: #107588;
}


/* 제너럴 문제제출 */
.general-toList{
	border-radius: 7px;
    background: #14a7cc;
    width: 55px;
    color: #fefefe;
    border: 0px;
    cursor: pointer;
    padding: 0px 10px;
}

.general-container{
	text-align: center;
	
}

.general-submit{
	border-radius: 7px;
	font-size: 17px;
	font-weight: bold;
	margin-top: 15px;
	background: #2196f3;
	width: 95%;
	padding: 10px 10px 10px 10px;
	color: #fefefe;
	border: 0px;
	cursor: pointer;
	padding: 14px 32px;
}

.general-cancel{
	border-radius: 7px;
	font-size: 17px;
	font-weight: bold;
	margin-top: 15px;
	background: #d86924;
	width: 95%;
	padding: 10px 10px 10px 10px;
	color: #fefefe;
	border: 0px;
	cursor: pointer;
	padding: 14px 32px;
}

.general-edit{
	border-radius: 7px;
	font-size: 17px;
	font-weight: bold;
	margin-top: 15px;
	background: #3e899c;
	width: 95%;
	padding: 10px 10px 10px 10px;
	color: #fefefe;
	border: 0px;
	cursor: pointer;
	padding: 14px 32px;
}
.general-delete{
	border-radius: 7px;
	font-size: 17px;
	font-weight: bold;
	margin-top: 15px;
	background: #ed4d3c;
	width: 95%;
	padding: 10px 10px 10px 10px;
	color: #fefefe;
	border: 0px;
	cursor: pointer;
	padding: 14px 32px;
}
/* 제너럴 정답 */

.general-titleName{
	font-size: 35px;
    display: inline-block;
    font-weight: bold;
    float: left;
    border-left: 5px solid #14a7cc;
    padding-left: 15px;
}
.general-answer{
	text-align: center;
}
.general-image{
	 background: url(../../img/goodjob.png) no-repeat center center/contain;
	 width: 300px;
	 height: 150px;
	 display: inline-block;
}
.general-msg{
	font-size: 35px;
    color: #446fec;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    line-height: 1.5em;
}
.general-wrongAnswer{
	text-align: center;
}
.general-wrongAnswer .general-image{
	background: url(../../img/crying.png) no-repeat center center/contain;
}

.general-wrongAnswer .general-msg{
	color: #fbbc05;
}

.general-imgBack{
	width: 100px;
	height: 100px;
}

/* 에세이문제 */

#codebox {
	position: relative;
	width: 100%;
	height: 450px;
}

.algo-question{
	border-radius: 7px;
	border: 1px solid #e5e9f2;
	box-shadow: 1px 2px 12px -3px #cccccc;
	background-color: #e9e9e9;
	border-collapse: collapse;
	font-weight: bold;
	text-align: -webkit-auto;
	padding: 10px 20px;
	line-height: 1.5em;
	font-size: 14px;
}

.form-group{
	margin: 60px 0px;
}

/* 에세이문제 만들기 */
.ques-boardTable{
	text-align: center;
}
.ques-title{
	font-size: 0.9em;
    font-weight: bold;
}

.ques-titleText{
    border-radius: 7px;
    border: 1px solid #e5e9f2;
    box-shadow: 1px 2px 1px -2px #cccccc;
    background-color: #fff;
    border-collapse: collapse;
    padding: 10px;
    width: 443px;
    margin: 15px;
} 
.ques-question{
	border-radius: 7px;
	border: 1px solid #e5e9f2;
	box-shadow: 1px 2px 12px -3px #cccccc;
	background-color: #fff;
	border-collapse: collapse;
	padding: 20px;
	width: 500px;
	margin: 15px auto 20px auto;
	overflow: hidden;
}
.ques-content{
	
}
.ques-footer{
	margin-bottom: 20px;
}
.ques-answertitle{
    font-size: 0.9em;
    font-weight: bold;
    display: inlin;
}
.ques-answer{
    border-radius: 7px;
    border: 1px solid #e5e9f2;
    box-shadow: 1px 2px 12px -3px #cccccc;
    background-color: #fff;
    border-collapse: collapse;
    padding: 10px;
    width: 300px;
    margin: 15px;
    overflow: hidden;
}
.ques-answerChoice{
	border-radius: 7px;
    border: 1px solid #e5e9f2;
    box-shadow: 1px 2px 1px -2px #cccccc;
    background-color: #fff;
    border-collapse: collapse;
    padding: 5px;
    width: 180px;
    margin-bottom: 10px;
    overflow: hidden;
}
.ques-groupBtn input[type=button]:nth-child(1){
	width: 49%;
	float: left;
}
.ques-groupBtn input[type=button]:nth-last-of-type(1){
	width: 49%;
	float: right;
}